body {
    color: $font-color;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1180px;
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;
}