// *, 
// *::before, 
// *::after {
//     box-sizing: border-box;
// }

body {
    font-family: 'Lato', sans-serif;
    color: $font-color;
}

.container {
    width: 100%;
    max-width: 1180px;
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;
}

// img {
//     max-width: 100%;
//     height: auto;
// }