$primary-color: #2ab7c5;
$secondary-color: #173750;

$font-color: #7f7f7f;

$transition-time: .5s;
$transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
$transition: $transition-time $transition-timing-function;

/**
 * Header
 */

$navbar-mobile-on: 'xl';

$navbar-background-color: transparent;
$navbar-sticky-background-color: #f6f6f6;
$navbar-open-mobile-background-color: #0e2638;

$navbar-height: 100px;
$navbar-mobile-height: 85px;

$menu-item-margin: 0 0 0 30px;
$menu-item-mobile-margin: 10px 0;